// color
$blackColor: #ffffff;

// fonts
$titleFont: Arial;

@mixin buttonStyle {
  width: 200px;
  height: 40px;
  background-color: $blackColor;
  border: none;
  border-radius: $blackColor;
  font-size: 25px;
}

@mixin buttonStyle2($color, $fontSize) {
  width: 200px;
  height: 40px;
  background-color: $color;
  border: none;
  font-size: $fontSize;
}
